.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .content-header {
    padding: 2rem;
    background-color: #ecf0f1;
    border-bottom: 1px solid #bdc3c7;

    h2 {
      margin: 0;
      color: #2c3e50;
    }
  }

  .content-body {
    flex: 1;
    padding: 2rem;
    background-color: #fff;
    color: #2c3e50;
  }
}
